.header {
  text-align: center;
  margin: 30px;
}

.boxForAllPostsInSearch {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 1rem;
}

.post {
  display: grid;
  text-align: left;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 20px;
  border: 4px solid #09203f;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.subHeader {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.descriptionHeader {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
}

.genreHeader {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #5d5c5c;
}

.genre {
  display: flex;
  justify-content: left;
  font-size: 14px;
  font-weight: normal;
  color: #5d5c5c;
  line-height: 1.5;
}

.matchForm {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.posted {
  font-size: 14px;
  justify-content: left;
  margin: 20px;
}
