.postformborder {
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  margin: 50px;
  padding: 3rem;
  font-size: 20px;
  border: 10px solid #09203f;
  border-radius: 120px;
}

.header {
  text-align: center;
  margin: 30px;
}

.post {
  width: 400px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 20px;
  border: 4px solid #09203f;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.subHeader {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.descriptionHeader {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
}

.genreHeader {
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #5d5c5c;
}

.genre {
  font-size: 14px;
  font-weight: normal;
  color: #5d5c5c;
}
