.form {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.formGroup {
  margin-bottom: 30px;
}

.label {
  font-size: 20px;
  font-weight: bold;
  margin-top: 1rem;
}

.formInput,
.formTextarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;

  &:focus {
    outline: none;
    border-color: #8eafff;
    box-shadow: 0 0 0 2px rgba(56, 112, 255, 0.25);
  }
}

.formTextarea {
  height: 100px;
}

.button {
  background: linear-gradient(90deg, #09203f, #537895);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 20px;
  width: 200px;
}

.error {
  color: red;
  font-size: 20px;
  font-weight: bold;
}
