* {
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
}

a {
  text-decoration: none;

  &:hover {
    transform: scale(1.02);
    text-decoration: underline;
    color: white;
  }
}

input {
  color: rgb(0, 31, 57);
}
