.bodystylings {
  padding-left: 100px;
  padding-right: 100px;
}

.container {
  height: 100vh;
  width: 100%;
}

.navbarorientation {
  display: flex;
}

.navigationbar {
  background-color: rgb(196, 32, 155);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  height: 25px;
  text-align: center;
  border-color: transparent;

  a {
    background-color: transparent;
    text-decoration: none;

    &:hover {
      transform: scale(1.02);
      text-decoration: underline;
      color: white;
    }
  }

  .hyperlinks {
    background-color: transparent;
  }

  .registrationbutton {
    background-color: rgb(220, 234, 239);
    // color: white;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
    width: 68px;
    height: 24px;
    border-color: transparent;

    &:hover {
      // background-color: white;
      background-color: rgb(38, 70, 83);
    }
  }

  .loginbutton {
    background-color: rgb(220, 234, 239);
    // color: white;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
    width: 68px;
    height: 24px;
    border-color: transparent;

    &:hover {
      // background-color: white;
      background-color: rgb(38, 70, 83);
    }
  }

  .logoutbutton {
    background-color: rgb(220, 234, 239);
    // color: white;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
    width: 68px;
    height: 24px;
    border-color: transparent;

    &:hover {
      // background-color: white;
      background-color: rgb(38, 70, 83);
    }
  }

  .usershowinginnavbar {
    background-color: rgb(220, 234, 239);
    // color: white;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
    width: 68px;
    height: 24px;
    border-color: transparent;

    &:hover {
      // background-color: white;
      background-color: rgb(38, 70, 83);
      transform: scale(1.02);
      text-decoration: underline;
      color: white;
    }
  }

  .navigationbarleftside {
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
    gap: 1rem;
  }

  .navbarspace {
    background-color: transparent;
  }

  .navigationbarrightside {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(196, 32, 155);
    gap: 1rem;
  }
}

.footerbar {
  background-color: aqua;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  width: 100%;
  height: 20px;
  bottom: 0px;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 8rem;

  a {
    background-color: transparent;
  }

  .hyperlinks {
    background-color: transparent;
  }
}

.copyright {
  background-color: aqua;
  padding: 1rem;
  justify-content: space-evenly;
  text-align: center;
}
