.centerbackgroundimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  justify-content: center;
  text-align: center;
}

.backgroundoftextfield {
  width: 75%;
  height: 200%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  border-color: black;
  margin-left: 150px;
  margin-right: 150px;
  border: 8px solid rgb(216, 216, 216);
  box-sizing: border-box;
  border-radius: 120px;
  font-size: 20px;
  padding: 70px 0;
}
