.backgroundoftextfield {
  color: white;
  margin-top: 80px;
  width: 75%;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 60px;
  border-radius: 120px;
  background: linear-gradient(90deg, #09203f, #537895);
  border-width: 10px;

  h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}

.intro {
  margin-top: 80px;
  width: 75%;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
}
