.registerbutton {
  background-color: rgb(38, 70, 83);
  color: white;
  border-radius: 5px;
  border: 1px solid;
  cursor: pointer;
  width: 68px;
  height: 24px;

  &:hover {
    background-color: white;
    color: rgb(38, 70, 83);
  }
}

.error {
  background-color: rgb(227, 49, 49);
}
