.topRowDeleteButton {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;

  a {
    background-color: transparent;
    text-decoration: none;

    &:hover {
      transform: scale(1.02);
      text-decoration: none;
      color: rgb(231, 111, 81);
    }
  }

  .hyperlinks {
    background-color: transparent;
  }
}

.sectionForUserData {
  display: flex;
}

.boxesForUserData {
  width: auto;
  height: auto;
  display: block;
  justify-content: center;
  text-align: left;
  align-items: center;
  position: relative;
  border-color: black;
  margin-top: 2rem;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 2rem;
  padding: 3rem;
  border: 8px solid rgb(216, 216, 216);
  box-sizing: border-box;
  border-radius: 120px;
  font-size: 20px;
}

.boxesForPersonalDescription {
  width: 40rem;
  height: auto;
  display: block;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  border-color: black;
  margin-top: 2rem;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 2rem;
  padding: 3rem;
  border: 8px solid rgb(216, 216, 216);
  box-sizing: border-box;
  border-radius: 120px;
  font-size: 20px;
}

.backgroundeditbutton {
  background-color: transparent;
}

.editbutton {
  background-color: rgb(249, 218, 210);
  // color: white;
  border-radius: 5px;
  border: 0px;
  border-color: transparent;
  cursor: pointer;
  width: 68px;
  height: 24px;

  &:hover {
    // background-color: white;
    background-color: rgb(231, 111, 81);
    transform: scale(1.02);
    text-decoration: none;
    color: white;
  }
}

.error {
  background-color: rgb(227, 49, 49);
}
