.header {
  text-align: center;
  margin: 20px;
}

.formborder {
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  margin: 100px;
  padding: 3rem;
  font-size: 20px;
  border: 10px solid #09203f;
  border-radius: 120px;
}
